<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :book_id %>

  <div class="field">
    <%= f.text_area :description, :class => 'input-block-level', :placeholder => 'Quote' %>
  </div>
  <div class="field">
    <%= f.text_field :who_said_it, :class => 'input-block-level', :placeholder => 'Who said it?' %>
  </div>
  <div>
    Quote Picture <%= f.file_field :quote_pic %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn btn-inverse' %>
  </div>
<% end %>
