<p id="notice"><%= notice %></p>

<p>
  <%= @user.first_name %> <%= @user.last_name %>
</p>
<p>
  <%= @user.email %>
</p>


<table class="table">
	<tr>
		<th>Book</th>
		<th>Author</th>
	</tr>
	<% @user.books.each do |book| %>
		<tr>
			<td><%= link_to book.title, edit_user_book_path(@user, book) %></td>
			<td><%= book.author %></td>
		</tr>
	<% end %>
</table>

<p>
	<%= link_to "New Book", new_user_book_path(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
