<%= form_for @book do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :class => 'input-block-level', :placeholder => 'Title' %>
  </div>
  <div class="field">
    <%= f.text_field :author, :class => 'input-block-level', :placeholder => 'Author' %>
  </div>
  <div class="field">
    <%= f.text_field :book_code, :class => 'book_code input-block-level', :placeholder => 'Book Code' %>
  </div>
  <div class="field">
    <%= f.text_area :description, :class => 'input-block-level', :placeholder => 'Book Description' %>
  </div>
  <div class="field">
    Book is date specific <%= f.check_box :is_date_specific %>
  </div>
  <div class="field">
    Book Cover <%= f.file_field :cover %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn btn-inverse' %>
  </div>
<% end %>
