<div class="bordered_wrapper" style="overflow:auto;">
  <div class="header_info_wrapper">
    <div class="span2 header_image">
      <%= image_tag @book.cover.url(:large) %>
    </div>

    <div class="span8">
      <h3>
        <%= @book.title %> by <%= @book.author %> <%= link_to 'Add a Quote', new_quote_path(book_id: @book), :class => 'btn btn-inverse' %> <%= link_to 'Edit Book', edit_book_path(@book), :class => 'btn btn-inverse' %>
      </h3>
      <p>
        <b>Description:</b>
        <%= @book.description %>
      </p>

    </div>
  </div>

  <div>
    <h5>
      Quotes:
    </h5>
  </div>

  <div class="bordered_wrapper">
    <ul id="quotes" data-update-url="<%= sort_quotes_path %>">
      <%= content_tag_for(:li, @book.quotes.order('position'), :class => "quote_wrapper") do |quote| %>
            <div class="quote_desc">
              <%= quote.description %>
            </div>
            <div class="quote_person">
              <%= quote.who_said_it %>
            </div>
            <% if @book.user_id == current_user.id %>
              <div class="quote_controls">
                <%= link_to 'Edit', edit_quote_path(quote), :class => 'btn btn-inverse btn-small' %>
                <%= link_to 'Delete', quote, :class => 'btn btn-danger btn-small', method: :delete, data: { confirm: 'Are you sure?' } %>
                <span class="handle btn btn-inverse btn-small">drag</span>
              </div>
            <% end %>
      <% end %>
    </ul>
  </div>


 