<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Is date specific:</b>
  <%= @book.is_date_specific %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', user_path(@current_user) %>
