<div class="bordered_wrapper" style="overflow:auto;">
  <div class="header_info_wrapper">
    <div class="span2 header_image">
      <%= image_tag @book.cover.url(:large) %>
    </div>

    <div class="span8">
      <h3>
        <%= @book.title %> by <%= @book.author %> <%= link_to 'Add a Quote', new_quote_path(book_id: @book), :class => 'btn btn-inverse' %> <%= link_to 'Edit Book', edit_book_path(@book), :class => 'btn btn-inverse' %>
      </h3>
      <p>
        <b>Description:</b>
        <%= @book.description %>
      </p>

    </div>
  </div>

  <div>
    <h5>
      Quotes:
    </h5>
  </div>

  <div class="bordered_wrapper">
    <% @book.quotes.each do |quo| %>
      <div class="quote_wrapper">
        <%= link_to quo.description, quo %><br/>
        <%= quo.who_said_it %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', books_path %>
