<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lapan Books</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

      <div class="navbar navbar-inner navbar-straightCorners main_margin">
        <div class="container">
          <%= link_to "Lapan Books", root_path, :class => "brand" %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class= <%= 'active' if params[:controller] == 'users' && params[:action] == 'home' %>><%= link_to "Home", root_path %></li>
              <li class= <%= 'active' if params[:controller] == 'users' && params[:action] == 'about' %>><%= link_to "About", about_path %></li>
              <li class= <%= 'active' if params[:controller] == 'contacts' %>><%= link_to "Contact", new_contact_path %></li>
              <% if current_user %>
                <li class= <%= 'active' if params[:controller] == 'books' %>><%= link_to "Books", books_path %></li>
              <% end %>
            </ul>
              <% if current_user %>
                <ul class="nav pull-right">
                  <li><%= link_to "Logged in as " + current_user.email + ".", user_path(current_user) %></li>
                  <%= link_to "Log out", log_out_path, :class => 'btn btn-green' %>
                </ul>
              <% else %>
                <%= form_tag sessions_path, :class => 'pull-right navbar-form' do %>
                  <%= text_field_tag :email, params[:email], :class => 'span2', :placeholder => "Email" %>
                  <%= password_field_tag :password, '', :class => 'span2', :placeholder => 'Password' %>
                  <%= submit_tag "Log in", :class => 'btn btn-inverse' %>
                <% end %>
              <% end %> 
          </div><!--/.nav-collapse -->
        </div>
      </div>

<div class="main_margin container">
  <%= yield %>
</div>

<div class="main_margin container footer">
    &#169; LapanBooks <%= Time.now.year %>
</div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
